.main-content-header {
  @include rowFlex;
  justify-content: space-between;
  margin: 10px 0 0;
  &__title {
    color: $mainTextColor;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
  }
  &__button {
    display: block;
    width: 145px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #87b448;
    color: #fff;
    font-size: 14px;
  }
}
.service-directory {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-column-gap: 17px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #e0e2e6;
  border-radius: 5px;
}
.service-card {
  cursor: pointer;
  &__img {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e0e2e6;
    transition: 0.1s all ease;
  }
  &:hover &__img,
  &:focus &__img {
    background-color: #f4f7fb;
  }
  &__title {
    margin: 9px 0 14px;
    color: $mainTextColor;
    font-size: 14px;
    text-align: center;
    transition: 0.1s all ease;
  }
  &:hover &__title,
  &:focus &__title {
    color: #71973c;
  }
}
