.sidebar-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &__link {
    position: relative;
    display: block;
    height: 51px;
    line-height: 49px;
    padding-left: 50px;
    color: #59606b;
    &:hover {
      color: $activeTextColor;
      &::before {
        filter: hue-rotate(250deg);
      }
    }
    //icon style
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 13px;
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
    }
    //dividing line
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e0e2e6;
    }
  }
  // Menu icons
  &__link--feed::before {
    background-image: url(../img/icon_feed.png);
  }
  &__link--ask::before {
    background-image: url(../img/icon_ask.png);
  }
  &__link--companies::before {
    background-image: url(../img/icon_companies.png);
  }
  &__link--services::before {
    background-image: url(../img/icon_services.png);
  }
}

.sidebar-block {
  //dividing line
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 18px;
    background-color: #e0e2e6;
  }
  &:last-child::after {
    display: none;
  }
  &-advertisement {
    max-width: 100%;
    text-align: center;
  }
  // for pixel perfect only

  // for pixel perfect only
  &-header {
    @include rowFlex;
    justify-content: space-between;
    color: $subTextColor;
    font-size: 14px;
    height: 50px;
    &__title {
      margin: 0;
      font-weight: 400;
    }
    &__link {
      color: $mainTextColor;
      &:hover {
        color: $activeTextColor;
      }
    }
  }
  &-content {
    max-width: 100%;
  }
  &-signature {
    display: block;
    color: #d3d3d3;
    font-size: 11px;
    &:hover {
      color: $activeTextColor;
    }
  }
}

.proposal-card {
  border-top: 0.1px solid transparent;
  margin-bottom: 20px;
  &__img {
    float: left;
    width: 80px;
    margin-right: 10px;
  }
  &__title {
    color: $mainTextColor;
    font-size: 16px;
    margin: -2px 0 0 90px;
    // margin-bottom: 3px;
  }
  &__info {
    min-height: 16px;
    line-height: 145%;
    margin: 0 0 0 90px;
    color: $subTextColor;
    font-size: 14px;

    //text overflow protection
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__link {
    display: block;
    line-height: 150%;
    margin: 0 0 0 90px;
    color: $mainTextColor;
    font-size: 12px;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  //modificators
  &--titleAbove {
    margin-bottom: 20px;
  }
  &--titleAbove &__title {
    height: 14px;
    margin: 0 0 8px;
  }
  &--titleAbove &__info {
    &:nth-last-child(2) {
      margin-top: 4px;
    }
    line-height: 135%;
  }
}

.sidebar-block--product .proposal-card__info {
  line-height: 120%;
  &:last-child {
    line-height: 125%;
  }
}

.copyright {
  color: $subTextColor;
  font-size: 12px;
  &__text {
    margin: 17px 0 15px;
  }
  &__link {
    margin-right: 18px;
    &:hover {
      color: $activeTextColor;
    }
    &:visited {
      color: darken($subTextColor, 30%);
    }
  }
}
