@mixin rowFlex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
$font-stack: "ProximaNova", "Helvetica Neue", "Arial", sans-serif;
$mainTextColor: #1c2534;
$subTextColor: #7c8695;
$activeTextColor: #71973c;
